html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #151616; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #202225;
	background-image: url("background.jpg");
	height: 500px; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;

}

.section-2 {
	background-color: #202225;
}

.section-3 {
	background-color: #373e3f;
}

.section-4 {
	background-color: #151616;
	padding: 0.2rem;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:200px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.box {
	background-color: transparent;
	border: 2px solid #373e3f;
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

.intro {
	text-align: justify;
	width: 80%;
	margin: 0 auto;
}

.void-background {
	background-color: transparent; 
}

.button {
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
  }
  
  .button11 {
	margin: 0 auto;
	display: block;
	margin-bottom: 20;
  }

  .button1 {
	background-color: #202225; 
	color: white; 
	border: 2px solid ;
	border-color: #fff;
  }
  
  .button1:hover {
	background-color: white;
	color: #202225;
	border-color: #202225;
  }
  
  .container {
	position: relative;
	width: 50%;
  }
  
  .image {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
  }
  
  .container:hover .overlay {
	opacity: 1;
  }
  
  .text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
  }
#project {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

	.card {
  	flex: 0 0 190px;
  	margin-right: 20px;
	}


      .card2 {
        width: 190px;
        height: 254px;
        background-color: #1a1a1a;
        border-radius: 20px;
        transition: all .2s;
      }

      .card2:hover {
        transform: scale(0.98);
        border-radius: 20px;
      }

      .card:hover {
        box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
      }
@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #373e3f;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

}


